<h3><%= @list.name  %></h3>

<p>
  <a href="/lists/<%= @list.slug %>/edit">Edit Title</a>
</p>

<h3>By: <a href="/users/<%= @list.user.slug %>"><%= @list.user.username %></a></h3>

<br />

<% @list.tasks.each do |task| %>
  <p>
    <%= task.name %>
  </p>
<% end %>
