<h3><%= @list.name  %></h3>

<% if @list.user == @user %>
  <p>
    <a href="/lists/<%= @list.slug %>/edit">Edit Title</a>
    <br />
<% end %>

<h3>By: <a href="/users/<%= @list.user.slug %>"><%= @list.user.username %></a></h3>

<div>

  <% if @list.tasks.count == 0 %>
    <p>
      No tasks yet<% if @list.user == @user %> - add one now! <% end %>
    </p>
  <% else %>
    <% @list.tasks.each do |task| %>
      <p>
        <%= task.name %>
        <% if @list.user == @user %>
          <form method="GET" action="/tasks/<%= task.slug %>/edit">
            <input type="submit" value="EDIT" />
          </form>
          <form method="POST" action="/tasks/<%= task.slug %>">
            <input id="hidden" type="hidden" name="_method" value="DELETE" />
            <input type="submit" value="X" />
          </form>
        <% end %>

        <br />
      </p>
    <% end %>
  <% end %>

</div>

<% if @list.user == @user %>
  <form action="/tasks/new" method="POST">
    <input type="text" name="task[name]" placeholder="New Task" />
    <input type="hidden" name="task[list_id]" value="<%= @list.id %>" >
    <input type="submit" value=" + " />
  </form>

  <br />
  <br />

  <form method="POST" action="/lists/<%= @list.slug %>">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete List">
  </form>
<% end %>
