
<h2><%= @list.name  %></h2>

<% if @list.user == @user %>
  <div class="edit-caption">
    <a href="/lists/<%= @list.slug %>/edit">Edit Title</a>
    <br />
  </div>
<% end %>

<p class="by-center">By: <a href="/users/<%= @list.user.slug %>" class="main-list-user"><%= @list.user.username %></a></p>

  <% if @list.tasks.count == 0 %>
    <p class="no-tasks">
      No tasks yet<% if @list.user == @user %> - add one now! <% end %>
    </p>
  <% else %>
    <table class="tasks">

    <% @list.tasks.each do |task| %>
      <tr>

        <td>
          <p>
            <%= task.name %>
          </p>
        </td>
        <% if @list.user == @user %>
        <td>
          <form method="GET" action="/tasks/<%= task.id %>/edit">
            <input type="submit" value="EDIT" />
          </form>
        </td>
        <td>

          <form method="POST" action="/tasks/<%= task.id %>">
            <input id="hidden" type="hidden" name="_method" value="DELETE" />
            <input type="submit" value="X" />
          </form>
        </td>

        <% end %>


      </tr>
    <% end %>

    </table>
  <% end %>


<% if @list.user == @user %>
  <form action="/tasks/new" method="POST">
    <input type="text" name="task[name]" placeholder="New Task" class="new-task">
    <input type="hidden" name="task[list_id]" value="<%= @list.id %>" >
    <input type="submit" value="ADD TASK " />
  </form>

  <form method="POST" action="/lists/<%= @list.slug %>">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value=" DELETE LIST ">
  </form>
<% end %>
