<h3><%= @list.name  %></h3>

<% if @list.user == @user %>
  <p>
    <a href="/lists/<%= @list.slug %>/edit">Edit Title</a>
    <br />
<% end %>

<h3>By: <a href="/users/<%= @list.user.slug %>"><%= @list.user.username %></a></h3>

<% if @list.tasks.count == 0 %>
  <p>
    No tasks yet - add one now!
  </p>
<% else %>
  <% @list.tasks.each do |task| %>
    <p>
      <%= task.name %>
    </p>
  <% end %>
<% end %>

<% if @list.user == @user %>
  <form action="/tasks/new" method="POST">
    <input type="text" name="task[name]" placeholder="New Task" />
    <input type="hidden" name="task[list_id]" value="<%= @list.id %>" >
    <input type="submit" value=" + " />
  </form>

  <br />
  <br />

  <form method="post" action="/lists/<%= @list.slug %>">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete List">
  </form>
<% end %>
